*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.wtf{
    font-size: 18px;
}
.pictures {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}
.pictures img {
    width: 45%;
    height: 420px;
}